.app {
  /* vrem doar ca app sa ocupe toata pagina */
  height: 100vh;
}

.app h1 {
  margin-top: 0;
}

.app h2 {
  color: blue;
}

.user-add-form{
  display: flex;
  flex-direction: column;
  width: 30%;
}

